
    <div layout="row" layout-align="center center" layout-padding>
    <form flex="30" flex-gt-sm class="md-whiteframe-9dp" layout="column" layout-align="start center" style="background-color:black; opacity:0.7;">
        <h2 class="LightGreenColor">Please Login</h2>
        <md-input-container>
            <label></label>
            <input type="text" placeholder="Username" ng-model="user.username">
        </md-input-container>
        <md-input-container class="LightGreenColor">
            <label></label>
            <input type="password" placeholder="Password" ng-model="user.password">
        </md-input-container>
        <md-button class="LightGreenColor">Forgot password?</md-button>
        <md-button class="LightGreenColor" ng-click="signin()">Login</md-button>
    </form>
</div>

