<ion-view view-title="Activity">
       <ion-content style="background: url(img/bg.jpg) center; background-size: cover;">
      
        <div class="list" style="margin:50% 0px 0px 0px;">
            <ion-md-input placeholder="Product name" highlight-color="energized" type="text" ng-model="user.name"></ion-md-input>
            <ion-md-input placeholder="Quantity" highlight-color="energized" type="number" ng-model="user.quantity"></ion-md-input>
        </div>
        <div class="padding">
            <button  class="button button-full button-assertive ink backGroundColorSeaGreen">Add order</button>
        </div>

    </ion-content>
</ion-view>
