<div layout="column">
    <h1 class="container"></h1>
    <div layout="row" layout-align="center center">
         
        <md-button ui-sref="addsaleman" class="md-raised md-primary">Add sale man</md-button>
        <md-button ui-sref="product" class="md-raised md-primary">Add product</md-button>
        <md-button ui-sref="deliveryrecord" class="md-raised md-primary">deliveryrecord</md-button>
        <md-button ui-sref="viewproduct" class="md-raised md-primary">viewproduct</md-button>
         <md-button ui-sref="viewsaleman" class="md-raised md-primary">viewsaleman</md-button>
    </div>
    <div layout="row" layout-align="start center">
        
         

        <div layout="column" flex="50">
            <md-list layout-padding>
                <md-list-item class="md-3-line md-whiteframe-20dp"  layout-padding ng-repeat="order in dashboard.OrderArray">
                    <div class="md-list-item-text" layout="column">
                        <h3>Customer Name: {{order.customerName }}</h3>
                        <h4>Product : {{order.product}}</h4>
                        <p>total price: {{order.totalprice}}</p>
                        <a ui-sref="location({lat: order.location.lat ,lng: order.location.long})">view location</a>
                    </div>
                    <md-button ng-click="dashboard.deliveredOrder(order)">delivery</md-button>
                </md-list-item>
            </md-list>
    </div>
</div>
