   <md-toolbar class="md-toolbar-tools md-primary" layout="row" layout-align="space-between center">
         <h2>
          Salesman's App 
        </h2>
        <div layout="row" layout-align="end center">  
        
        </div>
  
    </md-toolbar>
    
       <!--<div class="md-toolbar-tools md-primary" layout="row" layout-align="space-between center">
         <h2>
          Salesman's App 
        </h2>
        <div layout="row" layout-align="end center">  
        <button ui-sref="signin" class="button">Sign in</button>
        <button  ui-sref="signup" class="button">Sign up</button>
         <md-button ui-sref="signup" ui-sref-active="color" >Sign up</md-button>
        </div>
  
    </div>-->